<div class="nested-fields row">
  <div class="col-md-10">
  	<%= f.input :institution_id, label: false, collection: Institution.all, 
        label_method: :name, value_method: :id, input_html: {id: 'person_affiliation_institution_id'} %>
    <div class="col-md-12">
      <%= f.input :from, as: :date, include_blank: true, start_year: 1890, end_year: Date.today.year, order: [:day, :month, :year] %>
      <%= f.input :till, as: :date, include_blank: true, start_year: 1890, end_year: Date.today.year, order: [:day, :month, :year] %>
    </div>
  </div>
  <div class="col-md-2">
    <%= link_to_remove_association fa_icon('remove', text: 'remove'), f %>
  </div>
</div>