
<div class="page-header">
  <h2>
    People &amp; Institutions on Babylon
    <small>people.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
Angefangen bei den Mitarbeitern der Koldewey-Grabungen und fortgesetzt bis heute haben sich unz채hlige Forscher von Babylon inspirieren lassen und sich mit der antiken Stadt in den unterschiedlichen Feldern der Assyriologie, Arch채ologie, Bauforschung und Kunsthistorie besch채ftigt. Die Eintr채ge enthalten Informationen auf die Personen, ihre Vita, publizierte Literatur und darauf, in welcher Art die Forscher mit Babylon assoziiert sind. Das so entstehende Netzwerk wird fortlaufend aktualisiert und ausgebaut.
</p>
